<footer class="footer row">
  <div class="logo-footer col-4">
    <img src="../../assets/logo.png" alt="logo" class="logo">
    <span class="copy-right">
        IT COURSE
      </span>
  </div>

  <div class="icon col-4">
    <div class="row contact">
      <div class="social">
        <img src="../../assets/call.png" alt="phon-icon" class="phone-icon">
        <span class="social-text">
            +37369782361
          </span>
      </div>
      <div class="social">
        <img src="../../assets/email.png" alt="mail-icon" class="mail-icon">
        <a href="mailto:it.courses@info.md" class="social-text">
          it.courses@info.md
        </a>
      </div>
      <div class="social">
        <img src="../../assets/location.png" alt="location-icon" class="location-icon">
        <span class="social-text">
            str. Puskin, 12, et. 3, ap. 13
          </span>
      </div>
    </div>

  </div>
  <div class="about-us col-4">
    <div class="row about">
      <span class="title">About us</span>
      <span class="text"> We are a new company
         with a big interest to grow IT community in R. Moldova
        </span>
      <div class="copyright">
        <p>
          2020 © Macovei Maria
        </p>
      </div>
  </div>
  </div>


</footer>
