<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title">IT COURSE</h1>
      <p class="par-bold">
        Cursurile de tehnologie informațională sunt o alegere excelentă care vă ajută să vă promovați cariera.
        Indiferent dacă căutați o dezvoltare profesională, noi abilități sau o carieră nouă, cursurile de tehnologie
        informațională vă pot ajuta să deveniți un angajat mai competitiv și valoros, cu abilități importante.
        Există instituții academice situate în întreaga lume care oferă cursuri de tehnologie informațională prin
        programe care includ educație online și în clasă.
      </p>

      <p class="par-bold">
        Cursurile de tehnologie informațională acoperă o gamă largă de subiecte, dar unele teme includ aplicații
        software, hardware, programare, securitate, aplicații de afaceri, proiectare, inteligență artificială,
        baze de date, documente medicale și altele. Programele variază de la o săptămână la un an și pot oferi
        certificare sau diplome.
      </p>
      <p class="text-center contact">
        <span class="par-bold">Pentru mai multe informații aveți aici numarul nostru de tel. </span> <span
        class="par-RoyalBlue">060245267-Achim  0689234567-Alex</span><br>
        <span class="par-bold">IT COURSE este la dispoziția ta! Haideți să învațăm împreuna! </span>
        <span class="par-bold">Adresa noastră de email:</span>
        <a href="mailto:it.courses@info.md" class="social-text">it.courses@info.md</a>
      </p>

      <img class="col-sm-4" src="../../assets/giphy.gif">
      <img class="col-sm-4" src="../../assets/training.gif">

    </div>

  </div>
</div>

<app-footer></app-footer>
