
body  {
  background-color:coral;
}
.container{
  //padding: 40px 0;
  font-size: 1.2rem;
}

.title{
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #6699FF;
  padding-top: 100px;

}

.par-bold{
  font-weight: 700;
}

.par-RoyalBlue{
  color: #4169E1;
}



