
.container-fluid{
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  max-width: 70%;


}

.contact h2 {
  font-size: 1.3em;
}

.gallery .content{
  -webkit-display: flex;
  display: flex;
  flex-wrap: wrap;
}

.gallery .content .box{
  flex:0 0 50%;
  max-width: 50%;
}
.gallery .content .box img{
  display: block;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.gallery .content .box img:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.gallery h2{
  font-size: 40px;
  font-weight: 600;
  color: #6666FF;
  padding: 0px 0px 20px;
  text-align: center;
}

.container h2{
  font-size: 35px;
  padding-top: 4.5rem;
  color: #6666FF;
}
